*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    border: 2px solid white;
    display: block;
    max-height: 25vh;
    padding:10px;
    box-shadow: 5px solid white;
}
html{
    padding: 45px;
    margin: 45px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 2;

}
button{
    
    border-radius: 5px;
    box-shadow: 5px solid white;
    width:80px;
}