body{
    text-align: center;
    max-height: 100vh;
    padding:100px;
    margin: 40px;
    font-size:24px;
    font-family: 'Trebuchet MS', 
    'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    background-image: radial-gradient(white,darkgreen);
    color:grey;
    font-weight: bold;
}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
button{
    background-color: goldenrod;
    color: green;
    font: bold;
    padding:5px;
    width:150px;
    height: 35px;
    border:none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 2px;
}